<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
            <nav>
                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'create_account' %}">Create Account</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
    </header>
        {% block content %}
        {% endblock content %}
        <footer></footer>
</body>

</html>
