{% extends 'base.html' %}
{% block title %} {% endblock title %}

{% block content %}
<main>
    <h1>My Expenses</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts_list.all %}
            <tr>
                <td>{{ account.name }}</td>
                <td> {{ account.number }}</td>
                <td> {{ account.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
