{% extends 'base.html' %}
{% block title %} {% endblock title %}

{% block content %}
<main>
    <h1>My Expenses</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories_list.all %}
            <tr>
                <td>{{ category.name }}</td>
                <td> {{ category.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
